* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20230712/pngtree-modern-black-joysticks-set-on-abstract-light-wallpaper-perfect-for-gaming-image_3865865.jpg");
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply;
  box-shadow: 0 30px 50px #dbdbdb;
  overflow: hidden;
  padding: 20px;
}

.slide {
  top: 90px;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  position: relative;
  border-radius: 20px;
  box-shadow: 0 30px 50px #505050;
  overflow: hidden;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  flex-shrink: 0; 
  width: 400px;  
  height: 400px; 
}

.content:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.05); 
}

.item {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.game-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.content:hover .game-info {
  opacity: 1;
}

.button {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 20px;
}

.button button {
  width: 40px;
  height: 35px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin: 0 5px;
  border: 1px solid #000;
  transition: 0.3s;
}

.button button:hover {
  background: #ababab;
  color: #fff;
}

.slide .content {
  margin: 10px; 
}


.custom-btn {
  background-color: rgba(163, 159, 159, 0.6);
  border: 2px solid rgba(94, 92, 92, 0.6);
  border-radius: 200px;
  color: #ffffff;
  letter-spacing: 2px;
  width: 260px;
  height: 45px;
  transition: all 0.3s ease;
}

.custom-btn:hover {
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.6);
}