<header id="myHeader">
	<svg id="logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 714.6 401.1">
        <image href="https://th.bing.com/th/id/OIG2.JNXW2ijIxW4NcHrhr9Sj?w=1024&h=1024&rs=1&pid=ImgDetMain" 
        x="100" y="100" width="300" height="300"/>
    </svg>
	<nav>
		<a routerLink="/home">HOME</a>
		<a routerLink="/browse">Browse</a>
		<a href="#">STORE</a>
		<a href="#">Future</a>
	</nav>
    <button class="signup-btn">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Sign up
    </button>
</header>
