<section class="main-background">
  <div class="search-result">
    <div class="search-wrapper" #searchWrapper>
      <div class="input-holder">
        <input type="text" class="search-input" #searchInput placeholder="Type to search" [(ngModel)]="searchText" />
        <button class="search-icon" (click)="searchToggle($event)">
          <span style="color: aliceblue;">.</span>
        </button>
        <button class="close-icon" (click)="closeSearch($event)">X</button>
      </div>
      <p><strong>Search Results for:</strong> {{ searchText }}</p>
      <div class="filter-buttons">
        <label>
          <input type="radio" name="filter" value="all" (change)="filterGames('all')" checked> 
          All ({{ allGamesCount }})
        </label>
        <label>
          <input type="radio" name="filter" value="free" (change)="filterGames('free')"> 
          Free ({{ freeGamesCount }})
        </label>
        <label>
          <input type="radio" name="filter" value="paid" (change)="filterGames('paid')"> 
          Paid ({{ paidGamesCount }})
        </label>
      </div>
    </div>


  </div>
</section>
