<body>
<div class="game-container">
  <button class="close-btn" (click)="close.emit()">
    <i class="fas fa-times"></i>
  </button>
  @if (game) {
  <div class="game-item">
    <div class="display-game">
      <img class="game-img" [src]="game.imageUrl" alt="{{ game.name }}" />
      <div class="game-details">
       
        <p>Genre: {{ game.genre }}</p>
        <p>Price: ${{ game.price }}</p>
        <p>Size: {{ game.size }}</p>
        <p>{{ game.description }}</p>
        <button class="custom-btn">Add To Cart</button>
      </div>
    </div>
    <h2 class="title-text">{{ game.name }}</h2>
  </div>
  }
</div>
</body>
