<body class="main-background">
  <section>
    <div class="serach-result">
    <div class="heading">
      <h1>Browse Games</h1>
      <search-box></search-box>
    </div>
    <p><strong>Search Results for: </strong></p>
  </div>


    <div class="games-container container">
      @for( game of games; track game.id){
      <div class="game-item">
        <img
          [src]="game.imageUrl"
          alt="{{ game.name }}"
          style="width: 100%; height: auto"
        />
        <h2>{{ game.name }}</h2>
        <p>Price: ${{ game.price }}</p>
        <p>Size: {{ game.size }}</p>
        <p>{{ game.description }}</p>
      </div>
      }
    </div>
  </section>
</body>
